<%- include('./common/head') %>

    <body>

        <div class="wrapper">

            <!-- Sidebar -->
            <%- include('./common/sidebar') %>

                <!-- End Sidebar -->

                <div class="main-panel">
                    <div class="main-header">

                        <!-- Navbar Header -->
                        <%- include('./common/navbar') %>

                            <!-- End Navbar -->
                    </div>

                    <div class="container">

                        <div class="page-inner">
                            <div
                                class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                                <div class="page-header">
                                    <h4 class="fw-bold mb-3">All Tickets</h4>
                                    <ul class="breadcrumbs mb-3">
                                        <li class="nav-home">
                                            <a href="#">
                                                <i class="fa fa-home"></i>
                                            </a>
                                        </li>
                                        <li class="separator">
                                            <i class="fas fa-arrow-right"></i>

                                        </li>

                                        <li class="nav-item">
                                            <a href="#">All Task</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>



                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title"
                                            style="margin-left: 10px;background-color: rgb(205, 205, 230);height: 40px;padding-top: 5px;padding-left: 5px;color: rgb(12, 12, 12);font-weight: 500;">
                                            All Task Details</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">

                                            <% if (tasks.length> 0) { %>

                                                <div
                                                    style="overflow-x: auto; white-space: nowrap; margin: 0 auto;max-width: 100%; border: 1px solid #ddd;border: 1px solid #ddd;padding: 10px;">

                                                    <table id="basic-datatables"
                                                        class="display table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Customer Name</th>
                                                                <th>Customer mail id</th>
                                                                <th>Customer phone number</th>
                                                                <th>Category Model_No</th>
                                                                <th>issue</th>
                                                                <th>Customer Address</th>
                                                                <th>Work Status</th>
                                                                <th>Task Assign Date</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <% tasks.forEach(function(task) { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= task.name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= task.email %>
                                                                    </td>
                                                                    <td>
                                                                        <%= task.phone %>
                                                                    </td>
                                                                    <td>
                                                                        <%= task.category_model_number %>
                                                                    </td>
                                                                    <td>
                                                                        <%= task.product_issue %>
                                                                    </td>
                                                                    <td>
                                                                        <%= task.address %>
                                                                    </td>

                                                                    <td>

                                                                        <%= task.status %>
                                                                    </td>

                                                                    <td>
                                                                        <%= (task.assignedDate).toLocaleDateString('en-US',
                                                                            { year: 'numeric' , month: '2-digit' ,
                                                                            day: '2-digit' }) %>
                                                                    </td>
                                                                </tr>

                                                                <% }); %>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <% } else { %>
                                                    <p style="text-align: center; font-weight: bold; margin: 20px;">No
                                                        assign tasks
                                                        are available.</p>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <script
                        src="/userDashboardPublic/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
                    <!-- Datatables -->
                    <script src="/userDashboardPublic/assets/js/plugin/datatables/datatables.min.js"></script>
                    <!-- Kaiadmin JS -->
                    <script src="/userDashboardPublic/assets/js/kaiadmin.min.js"></script>
                    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
                    <script src="/userDashboardPublic/assets/js/setting-demo2.js"></script>



                    <script src="/js/jquery.min.js"></script>


                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
                    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

                    <script>

                        $(document).ready(function () {
                            // Initialize DataTable
                            $("#ticketsTable").DataTable({
                                paging: true,
                                searching: true,
                                info: true,
                                columnDefs: [{ targets: [0, 1, 2], className: "dt-center" }],
                            });
                        })

                        $(document).ready(function () {
                            $("#basic-datatables").DataTable({});

                            $("#multi-filter-select").DataTable({
                                pageLength: 5,
                                initComplete: function () {
                                    this.api()
                                        .columns()
                                        .every(function () {
                                            var column = this;
                                            var select = $(
                                                '<select class="form-select"><option value=""></option></select>'
                                            )
                                                .appendTo($(column.footer()).empty())
                                                .on("change", function () {
                                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                                    column
                                                        .search(val ? "^" + val + "$" : "", true, false)
                                                        .draw();
                                                });

                                            column
                                                .data()
                                                .unique()
                                                .sort()
                                                .each(function (d, j) {
                                                    select.append(
                                                        '<option value="' + d + '">' + d + "</option>"
                                                    );
                                                });
                                        });
                                },
                            });

                            // Add Row
                            $("#add-row").DataTable({
                                pageLength: 5,
                            });

                            var action =
                                '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

                            $("#addRowButton").click(function () {
                                $("#add-row")
                                    .dataTable()
                                    .fnAddData([
                                        $("#addName").val(),
                                        $("#addPosition").val(),
                                        $("#addOffice").val(),
                                        action,
                                    ]);
                                $("#addRowModal").modal("hide");
                            });
                        });



                        $(document).on('click', '.update-status', function () {
                            var $this = $(this);  // Store reference to the clicked element
                            const serviceId = $(this).data('service-id'); // Get the service ID from the span's data attribute

                            $.ajax({
                                url: '/user/update-status', // Route to update the status
                                type: 'POST',
                                data: { serviceId: serviceId },
                                success: function (response) {
                                    if (response.success) {
                                        // Update the status in the table
                                        $(this).text('Complete'); // Change the text to 'Complete'
                                        $(this).css('color', 'green'); // Change text color to green (or any other styling)
                                        $(this).off('click'); // Remove the click handler after the status is updated
                                        window.location.reload()
                                    } else {
                                        alert(response.message);

                                    }
                                },
                                error: function () {
                                    alert('Error updating status.');
                                }
                            });
                        });




                        $(document).on('click', '.complete-task', function () {
                            const taskId = $(this).data('task-id');

                            $.ajax({
                                url: '/user/all-task/' + taskId,
                                type: 'POST',
                                success: function (response) {
                                    alert(response.message);
                                    location.reload();  // Reload the page to reflect the change
                                },
                                error: function (error) {
                                    alert('Error: ' + error.responseText);
                                }
                            });
                        });
                    </script>