<%- include('./common/head') %>

<style>
  #flash-message {
  transition: opacity 0.5s ease-out;
}
#flash-message.hidden {
  opacity: 0;
  visibility: hidden;
}
  </style>

    <body>

        <!-- .......................PRE_LOADER START................... -->

        <%- include('./common/preloader') %>

            <!-- .......................PRE_LOADER END................... -->


            <div id="pcoded" class="pcoded">
                <div class="pcoded-overlay-box"></div>
                <div class="pcoded-container navbar-wrapper">


                    <!-- .......................NAVBAR START................... -->

                    <% if (typeof notifications !=='undefined' ) { %>
                        <%- include('./common/navbar', { notifications: notifications }) %>
                            <% } else { %>
                                <%- include('./common/navbar', { notifications: [] }) %>
                                    <% } %>

                                        <!-- .......................NAVBAR END................... -->

                                        <div class="pcoded-main-container">
                                            <div class="pcoded-wrapper">


                                                <!-- .......................SIdEBAR START................... -->

                                                <%- include('./common/sidebar') %>

                                                    <!-- .......................SIdEBAR END................... -->

                                                    <div class="pcoded-content">

                                                        <!-- .......................PAGE HEADER START................... -->


                                                        <div class="page-header">
                                                            <div class="page-block">
                                                                <div class="row align-items-center">
                                                                    <div class="col-md-8">
                                                                        <div class="page-header-title">
                                                                            <h5 class="m-b-10">Update Profile Details
                                                                            </h5>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>


                                                        <!-- .......................PAGE HEADER END................... -->


                                                        <div class="container mt-5">
                                                            <% if (successMessage && successMessage.length> 0) { %>
                                                                <div class="alert alert-success" id="flash-message">
                                                                    <%= successMessage %>
                                                                </div>
                                                                <% } %>
                                                                    <% if (errorMessage && errorMessage.length> 0) { %>
                                                                        <div class="alert alert-danger" id="flash-message">
                                                                            <%= errorMessage %>
                                                                        </div>
                                                                        <% } %>
                                                           
                                                                            <h4
                                                                                style=" font-size: 24px;color: rgb(69, 77, 94);margin-left: 100px;">
                                                                                Update Profile Details</h4>
                                                                            <br>

                                                                            <form
                                                                                action="/admin/update/<%=editData._id%>"
                                                                                method="POST"
                                                                                enctype="multipart/form-data"
                                                                                style="margin-left: 100px;">
                                                                                <!-- Name Field -->
                                                                                <div class="name">
                                                                                    <label for="name"
                                                                                        class="form-label">Name:</label><br>
                                                                                    <input type="text" name="name"
                                                                                        id="name"
                                                                                        class="viewprofilename"
                                                                                        placeholder="Enter your name"
                                                                                        value="<%=editData.name%>"
                                                                                        required>
                                                                                </div>

                                                                                <!-- Email Field -->
                                                                                <div class="name1">
                                                                                    <label for="email"
                                                                                        class="form-label2">Email:</label><br>
                                                                                    <input type="email" name="email"
                                                                                        id="email"
                                                                                        class="viewprofilename"
                                                                                        placeholder="Enter your email"
                                                                                        value="<%=editData.email%>"
                                                                                        required>
                                                                                </div>

                                                                                <!-- Phone Field -->
                                                                                <div class="name1">
                                                                                    <label for="number"
                                                                                        class="form-label2">Phone
                                                                                        Number:</label><br>
                                                                                    <input type="string" name="phone"
                                                                                        id="email"
                                                                                        class="viewprofilename"
                                                                                        placeholder="Enter your phone number"
                                                                                        value="<%=editData.phone%>"
                                                                                        required>
                                                                                </div>

                                                                                <br>

                                                                                <!-- Image Field -->
                                                                                <div class="name1">

                                                                                    <input type="file"
                                                                                        id="profile-picture"
                                                                                        name="image"
                                                                                        onchange="previewProfilePicture()"
                                                                                        hidden>
                                                                                    <img id="profile-picture-preview-img"
                                                                                        src="http://localhost:1456/<%= editData.image %>"
                                                                                        alt=""
                                                                                        style="height: 70px;border-radius: 50%;">
                                                                                    <input type="file"
                                                                                        id="profile-picture"
                                                                                        name="image"
                                                                                        onchange="previewProfilePicture()"
                                                                                        hidden>

                                                                                    <label for="profile-picture"
                                                                                        class="custom-upload-btn"
                                                                                        style=" display: block;margin-top: 20px;cursor: pointer;">Upload
                                                                                        Profile
                                                                                        Picture</label>
                                                                                </div>

                                                                                <!-- Submit Button -->
                                                                                <button type="submit"
                                                                                    class="createButton"
                                                                                    style="width: 150px;margin-bottom: 50px;">Update
                                                                                    Profile</button>
                                                                            </form>
                                                        </div>

                                                    </div>

                                            </div>
                                        </div>

                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

            <script>

setTimeout(() => {
                    const flashMessage = document.getElementById('flash-message');
                    if (flashMessage) {
                        flashMessage.style.display = 'none';
                    }
                }, 3000);
               
                // Function to preview the selected profile picture
                function previewProfilePicture() {
                    const fileInput = document.getElementById('profile-picture');  // Get the file input element
                    const file = fileInput.files[0];  // Get the first selected file
                    const previewImage = document.getElementById('profile-picture-preview-img');  // Get the image element

                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            previewImage.src = e.target.result;  // Set the image source to the selected file's data URL
                        };
                        reader.readAsDataURL(file);  // Read the file as a Data URL
                    }
                }
            </script>

    </body>